* {margin: 0; padding: 0}
html,body,div,span,applet,object,iframe,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video { border: 0; margin: 0; padding: 0}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section { display: block}
a {outline: none; text-decoration: none}
a:hover {text-decoration: underline}
html,textarea { overflow: auto}
input {vertical-align: middle}
input, textarea, select {outline:none; resize: none}
table{ border-collapse: collapse; border-spacing: 0}
img { vertical-align: top; border: none}

body {
	font-family: arial;
    font-size: 18px;
    padding-top: 60px;
    color: #5f5f60;
	height: 100%;   
    background-attachment: fixed;
    background: #0b9e78
}




/********************* HEADER *********************/



/********************* END OF HEADER *********************/

#wrapper {

	padding: 0 30 30 30px;
	margin: 0 auto;
	width: 1160px;
	height: 460px;
	background: #fbfbfb;  
	border-radius: 5px; 


}

#movebox {

	margin: 0 auto;
	width: 1100px;
	height: 400px;
	border: solid 1px red;
	background: #fbfbfb; 
	border-radius: 5px;
	overflow: hidden;   

}

#lives{
	float: left;
	margin: 20 0 0 25px;
	height: 30px;
	width: 250px;
	background: none;
}

.flag{
	float: left;
	margin-left: 5px;
	height: 30px;
	width: 45px;
	background: url(img/flag.jpg);
}

#hero{

	float: left;
	top: 220px;
	position: relative;
	width: 100px;
	height: 160px;
	background: url("img/hero.png");
	left:30;
}

.berkut {

	background: aqua;
	margin-top: 260px;
	position: relative;
	width: 140px;
	height: 200px;	
	left:700;

}





